.mere{
    display: flex;
    justify-content: center;
}
.mere1{
    display: flex;
    border-color: aliceblue;
    justify-content: center;
}
img{
    height: 15%;
    width: 1.3cm;
    position: relative;
}
.font{
    font-family : 'Poppins', sans-serif;
    color: rgb(19, 19, 19);
}
.mere2{
    display: flex;
    mix-blend-mode:multiply;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 15cm;
    margin-left: 11%;
}
.mere2 img{
    position: relative;
    width: 100%;
    height: 80%;
    border-color: white;
    margin-left:9%;
    mix-blend-mode: multiply;
    margin-right: 19%;}
    /* filter: drop-shadow(0 0 15px #333); */
.a{
    height: 15cm;
    width: 25%;
}
.b{
    /* display: flex; */
    justify-content: center;
    width: 40%;
    margin-right: 2%;
}
.b img{
    height: 7.5cm;
    width: 80%;
    clip-path: circle(47%);
    position: relative;
    margin-top: 10%;
}
#root{
    margin-left: 10%;
    margin-right: 10%;
}
.c{
    height:10cm;
    width: 50%;
    border-radius: 5px;
}
.c img{
    height: 100%;
    width: 100%;
    position: relative;
}
.d{
    width: 40%;
    margin-left: 2%;
    text-align: left;
    margin-right: 2%;
    margin-top: 6%;
}
.styled{
    color: transparent;
  background: conic-gradient(                                                                                                              
    rgb(19, 18, 18) 75%, rgb(103, 14, 14) 45%
  );
  background-size: 1%;
  background-clip: text;
  -webkit-background-clip: text; 
  width: 100%;
  font-size: xx-large;
}
.tr{
    width: 98%;
    height: 10cm;
    filter: drop-shadow(0 0 13px #aaa3a3);
    position: relative;
}
/* .sary2{
    width: 45%;
    height: 90%;
    margin-right: 11%;
    position: relative;
} */
.mere h1{
    justify-content: center;
    text-align: center;
    color: black;
}
td{
    width: 50%;
    height: 60%;
    display: flex;
}
.f{
    display: flex;
}
input{
    border-color: white;
    height: 1cm;
    width: 60%;
    margin-left: 4%;
}